:root {
    --ff-primary: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    --ff-secondary: "Helvetica Light", Helvetica, sans-serif;
    --ff-tertiary: "Futura", sans-serif;

    --clr-light: #c8c8c8;
    --clr-dark: #141414;
    --clr-gray: #333333;

    --clr-primary: #FF5CFF;
    --clr-secondary: #FF7D00;
}

body {
    background:
            linear-gradient(var(--clr-primary), transparent),
            linear-gradient(to top left, var(--clr-secondary), transparent),
            linear-gradient(to top right, var(--clr-secondary), transparent);
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;

}


h1 {
    font-family: var(--ff-primary);
    font-size: 120pt;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--clr-dark);
    line-height: 0.9em;
}

h1:hover {
    transform: translateX(1%);
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}

h2 {
    color: white;
    font-family: var(--ff-secondary);
    font-size: 48pt;
}

h3 {
    font-family: var(--ff-secondary);
    font-size: 21pt;
}

li, p, h4 {
    font-family: var(--ff-primary);
}


@media (max-width: 1300px) {
    h1 {
        font-family: var(--ff-primary);
        font-size: 100pt;
    }

    h2 {
        font-family: var(--ff-secondary);
        font-size: 32pt;
    }

    h3 {
        font-family: var(--ff-secondary);
        font-size: 14pt;
    }
}

/* Animations */

@keyframes slow-show-up {
    from{
        transform: scaleX(0);
    }
    to {
        transform: scaleX(100%);
    }
}

@keyframes show-square {
    from{
        opacity: 0.0;
        transform: scale(50%);
    }
    to {
        opacity: 0.9;
        transform: scale(100%);
    }
}

@keyframes slide-in {
    from{
        opacity: 0.0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1.0;
        transform: translateX(0);
    }
}

/* Text colors */

.highlight__text {
    color: var(--clr-primary);
}

/* Nav bar */

nav {
    z-index: 1;
    position: fixed;
    width: 100vw;
    padding: 1em 0 1em 0;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    background: transparent;
    transition: background-color 0.3s ease; /
}

nav ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}

nav ul li {
    position: relative;
    text-align: center;
    padding: 0 3em 0 3em;
}

nav ul li a {
    color: var(--clr-dark);
    text-decoration-line: none;
}

nav ul li:hover:after {
    animation: slow-show-up;
    animation-duration: 0.2s;
    background-color: var(--clr-light);
    content: "";
    display: block;
    position: relative;
    width: 125%;
    height: 1px;
    margin-left: -12.5%;
}

nav ul li a:hover {
    color: var(--clr-light);
    transition-duration: 0.25s;
}

.home__button {
    min-width: 17em;
    margin-left: 3em;
}

.home__button a {
    font-family: var(--ff-primary);
    text-decoration-line: none;
    color: white;
}

/* Main Page */

.home__container {
    position: relative;
    width: 100vw;
    margin: 15em 0 15em 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home__titles {
    padding-top: 1em;
    padding-right: 9em;
    position: relative;
    opacity: 0.0;
    animation: slide-in 1.5s ease 0.5s forwards;
}

.home__first_title {
    font-weight: lighter;
}

.home__my_desc {
    position: relative;
    z-index: -1;
    font-weight: normal;
    font-family: var(--ff-tertiary);
}

.research__container {
    padding: 15em 0 15em;
    position: relative;
}

.research_interests__container {
    margin: 5em 0 0 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.research_icon {
    margin: 10px 0 10px 0;
}

.research_icon:hover {
    transform: scale(105%);
    transition-duration: 0.4s;
}

.small__container {
    text-align: center;
    max-width: 20%;
    align-items: center;
    margin: 0 25px 0 25px;
}

/* Squares animation */

.description__container {
    margin-left: 32.5em;
    width: 660px;
    height: 495px;
    position: absolute;
}

.description__text {
    margin: 220px auto auto 135.5px ;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}

.main-grid__container {
    display: grid;
    position: absolute;
    justify-items: center;
    width: 660px;
    height: 495px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.blank__square {
    display: block;
    background-color: transparent;
}

.grid__square {
    z-index: 0;
    display: block;
    border-style: solid;
    border-color: var(--clr-gray);
    width: 52px;
    height: 52px;
    background-color: black;
    transition: background-color 0.3s ease 0.3s, border-color 0.3s ease;

    opacity: 0.0;
    animation: show-square 1.5s ease 0.5s forwards;
}



.grid__square:hover {
    display: block;
    border-style: solid;
    border-color: var(--clr-secondary);
    background-color: var(--clr-secondary);
    transition: background-color 0.35s ease, border-color 0.2s ease;
}

/* About me */

.about__container {
    padding: 4em 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about__description{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    max-width: 1300px;
}

.about__description-title {
    grid-row-start: 1;
    grid-row-end: 3;
}

.about__description-text {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.about__headshot-container {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

    position: absolute;
    width: 440px;
    height: 330px;

    margin: 0;
    padding: 0;
}

.about__picture-box {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.about__headshot-photo {
    margin-bottom: 55px;
    margin-left: 55px;
    position: absolute;
    z-index: 1;
}

.about__location{
    width: 1300px;
}

.world-map {
    width: 100%;
}

/* Skills */

.skills__container {
    padding: 3em 0 0 0;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills__items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1300px;
}

.skills__title {
    grid-column-start: 1;
    grid-column-end: 4;
}

.skills__box {
    grid-row-start: 2;
    grid-row-end: 4;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    margin-top: -20%;
}

#sw { grid-column: 1 / 2; }
#rk { grid-column: 2 / 3; }
#da { grid-column: 3 / 4; }

.skills__subtitle {
    font-family: var(--ff-primary);
    font-size: 36pt;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke-width: 1pt;
    -webkit-text-stroke-color: var(--clr-dark);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;

    padding-left: 1em;
}

.skills__subtitle:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    color: var(--clr-dark);
}

.skills__box ul {
    list-style: none;
    text-align: center;
}

.skills__box ul li {
    line-height: 3em;
    font-size: 18pt;
}

/* Footer */

footer {
    font-family: var(--ff-primary);
    display: block;
    width: 100vw;
    padding: 1em 0 1em 0;
    text-align: center;
}

